.tabs-container {
  display: flex;
  justify-content: flex-start;
}

.tab-button {
  padding: 15px 30px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--tab-bg);
  color: var(--tab-text);
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
  background-color: var(--accent-color);
  color: white;
}

.tab-button:hover {
  background-color: var(--tab-hover);
  color: white;
}